<div class="row">
    <div class="large-12 columns"> 
        <input type="text" ng-model="ngModel[field]" ng-focus="focusGainedShow()" ng-blur="focusGainedHide()" ng-disabled="ngDisabled">
    </div>
</div>

<div class="row" ng-show="focusGained">
    <div class="large-12 columns">
        <div id="select-container">
            <div class="row">
                <div class="large-12 columns" ng-click="selectItem(item)" ng-repeat="item in itens|filter:ngModel[field]:comparatoSearch">
                    <div class="item">{{item[field]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
