<article>
    <!-- Menu Geral -->
    <section class="menu-header" ng-show="$root.menuGeral == 1">

        <top-bar class="menu-dropdown">
            <ul class="title-area">
                <li class="name"></li>
                <li toggle-top-bar class="menu-icon"><a><span>Menu</span></a></li>
            </ul>
            <top-bar-section class="menu-dropdown not-click"> <!-- -->

                <ul class="left">
                    <li has-dropdown class="not-click icon-none" ng-repeat="obj1 in $root.menuPrincipal| orderBy:'titulo'">
                        <a ng-href="{{obj1.uri}}">
                            <span class="{{obj1.id}} icon-menu"></span>{{obj1.titulo}}</a>
                        <ul top-bar-dropdown>
                            <li has-dropdown ng-class="{'icon-none': obj2.subs.length == 0}" ng-repeat="obj2 in obj1.subs| orderBy:'titulo' ">

                                <a ng-show="obj2.uri.length > 0" ng-href="{{obj2.uri}}?valueParam={{obj2.id}}&token={{$root.TOKEN}}">{{obj2.titulo}}</a>
                                <a ng-show="obj2.uri.length === 0" >{{obj2.titulo}}</a>

                                <ul top-bar-dropdown>
                                    <li ng-repeat="obj3 in obj2.subs| orderBy:'titulo'">
                                        <a ng-href="{{obj3.uri}}?valueParam={{obj2.id}}&token={{$root.TOKEN}}">{{obj3.titulo}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li class="divider cyano hide-for-small"></li>
                    <li class="divider hide-for-small"></li> -->
                </ul>	
            </top-bar-section>
        </top-bar>
    </section>

    <!-- Menu Segurança -->
    <section class="menu-header-seguranca" ng-show="$root.menuGeral == 2">
        <top-bar class="menu-seguranca">
            <ul class="title-area">
                <li class="name"></li>
                <li toggle-top-bar class="menu-icon"><a><span>Menu</span></a></li>
            </ul>

            <top-bar-section class="menu-seguranca not-click">
                <ul class="left">
                    <li ng-repeat="objSeguranca1 in $root.menuSeguranca"> 
                        <a href={{objSeguranca1.uri}}>{{objSeguranca1.titulo}}</a>
                    </li>
                </ul>
            </top-bar-section>
        </top-bar>
    </section>	

</article>