<article class="row" ng-controller="HomeCtrl as controller">
  
    <section class="large-12 columns text-center">
        <div class="panel radius">

            <alert ng-repeat="alert in alerts" type="alert.type" ng-click="controller.closeAlert($index)">{{alert.msg|translate}}</alert>
            <br>
            
            <section class="row">
                <div class="large-10 medium-12 large-centered medium-centered small-centered columns">
                    <h1>
                        <small>{{mensagemBemVindo|translate}}</small>
                    </h1>
                    <h1>FIXME: nome do usuario</h1>
                    <br>
                </div>
            </section>
            
            <br>
        </div>
    </section>

</article>
