<div class="row" ng-controller="TipoDocumentoConsultaCtrl as controller">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="large-12 columns panel panel-border">
        <div class="row">
            <div class="large-8 columns">
                <h5>{{"tipo.documento"|translate|uppercase}}</h5>
            </div>
            <div class="large-4 columns">
                <button class="bt-newprofile" ng-click="controller.cadastro()">{{"novo"|translate}} {{"tipo.documento"|translate}}</button>
            </div>
        </div>
        <div class="row-core">
            <div class="row">

                <div class="large-8 medium-6 small-12 columns">
                    <label>
                        {{'titulo.busca'| translate}}
                        <img src="images/icons/icon_tooltip_blue.png" height="16" width="16" popover-placement="top" popover-trigger="mouseenter" popover="{{'pesquise.por'|translate}} {{'tipo.documento'|translate}}">
                    </label>
                    <input type="text" ng-model="pesquisa.descricao" maxlength="50" ng-enter="controller.buscarPorDescricaoOuSituacao(1)">
                </div>

                <div class="large-3 medium-6 small-12 columns">
                    <label>{{"situacao"|translate}}</label>
                    <select ng-model="pesquisa.situacao" ng-options="s.id as s.descricao|translate for s in situacoes"></select>
                </div>

                <div class="large-1 medium-2 small-4 columns">
                    <label>&nbsp;</label>
                    <button class="bt_search" ng-click="controller.buscarPorDescricaoOuSituacao(1)"></button>
                </div>

            </div>
            <hr>
            <div id="msgVazia" ng-hide="mensagemNenhumRegistro == ''">
                {{mensagemNenhumRegistro|translate}}				
            </div>
            <span ng-show="itens.length > 0">
                <table class="tfull">
                    <thead class="blue">
                        <tr>
                            <th width="80%">{{"tipo.documento"|translate}}</th>
                            <th width="15%">{{"situacao"|translate}}</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itens">
                            <td ng-click="controller.editar(item.id)"><a >{{item.txTipoServico}}</a></td>
                            <td>
                                <div class="switch round tiny">
                                    <input id="boxSwitch{{$index}}" ng-model="item.csSituacao" ng-checked="item.csSituacao" type="checkbox" ng-click="controller.modificarSituacao(item)">
                                    <label style="padding:0; margin:0;" for="boxSwitch{{$index}}"></label>
                                </div>
                            </td>
                            <td class="icon_remove" ng-click="controller.excluir(item)"></td>
                        </tr>
                    </tbody>
                </table>
                {{pagina.totalItem}} {{"registros.encontrados"|translate}}
                <div class="pagination-centered">
                    <pagination ng-click="controller.buscarPorDescricaoOuSituacao()"  items-per-page="pagina.limit" max-size="pagina.limit" boundary-links="true" total-items="pagina.totalItem" page="pagina.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </span>		
        </div>
    </div>
</div>
