<div class="box-container">
    <div class="conteudo">
        <article ng-controller="AuthCtrl as controller">
            <alert ng-repeat="alert in alerts" type="alert.type" close="controller.closeAlert($index)">
                <button ng-show="mostrarBotao" class="small round button" ng-click="controller.linkSolicitarCadastro()">Corrigir</button>
                 {{alert.msg|translate}}</alert>
            <link rel="stylesheet" type="text/css" href="css/login.css">

            <div class="idiomas">
                <ul class="right margin-bar">
                    <a href="" class="a-white"><img src="images/icons/icon_info.png" height="60" width="30">Info</a>
                    <a href="" class="a-white"><img src="images/icons/icon_eng.png" height="60" width="30">Eng</a>
                </ul>
            </div>

            <div class="box-2 box_center twhite">
                
                <header class="tcenter margin-bottom">
                    <img src="#" height="45" width="298">
                </header>
                
                <div>
                    <tabset>
                        <tab heading="LOGIN" class="one tab-resp">

                            <form name="signUpForm" ng-submit="controller.autenticarUsuario()" novalidate>
                                USER
                                <input type="text" ng-class="{ errorinput: errorAutenticar}" name="user" ng-model="user.login" placeholder="User" required autofocus />
                                <br>
                                PASSWORD
                                <input type="password" name="password" ng-class="{ errorinput: errorAutenticar}" ng-model="user.senha" placeholder="Password" required />
                                <br>
                                <button type="submit" class="right small round button">Entrar</button>
                            </form>

                        </tab>

                    </tabset>
                </div>
            </div>
            
            
            <footer class="tcenter tgray box-bottom padding-1">
                <img src="#"><br>
                © 2015 Copyright.
            </footer>
        </article>
    </div>
</div>
